*{
    box-sizing: border-box;
}
.red{
    display: flex;
    background-color: red;
    max-width: 1000px;
    height: 849px;
    margin: -8px;
    justify-content: center;
    flex-direction: column;

}
.top{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    row-gap: 10px;

}
.tp.tp{
    column-gap: 10px;
    display:flex;
    height: 50%;
    width: 100%;
    flex-direction: row;

}
.tp.botom{
    column-gap: 10px;
    display:flex;
    height: 50%;
    width: 100%;
    flex-direction: row-reverse;
}

.center{
    display: flex;
    width: 100%;
    height: 25%;
    flex-direction: row;
    column-gap: 10px;


}
.bottom{
    width: 100%;
    height: 25%;
}
.green{
    display: flex;
    background-color: green;
    width: 60%;
    height: 95%;
    margin: 25px auto;
    padding: 5px;
    row-gap: 10px;
    flex-direction: column;
}
.yellow{
    background-color: yellow;
    width: 75%;
    height: 100%;
    margin: 0px;
}
.yellow:nth-child(2){
    background-color: yellow;
    width: 25%;
    height: 100%;
}
.blue{
    width: 74%;
    height: 100%;
    background-color: blue;
}
.blue:nth-child(2){
    width: 25%;
    height: 100%;
    background-color: blue;
}
.pink{
    background-color: pink;
    width: 100%;
    height: 100%;
}
@media (max-width: 540px) {
    .green{
        width:95% ;
        margin: 5px auto;
    }
    .tp.tp{
        flex-direction: column;
    }
    .yellow,.yellow:nth-child(2){
        margin:10px auto;
        width: 100%;
        height: 50%;
    }
    .center{
        flex-direction: column;
    }
    .blue,.blue:nth-child(2){
        margin:10px auto;
        width: 100%;
        height: 50%;
    }
    .pink{
        height: 30%;
    }

    
}